// fonte principal
$fontePrincipal: Roboto, sans-serif;

// esquemas de cores 
$corPrincipal: #f8ddae;
$corSecundaria:#b71540;
$corDoTexto:#fff;
$corDoBotao: #e55039;

//*breakpoints
$mobile: 767px;
$tablet: 1023px;
